{% for post in posts %}
  <div class="notesListItem">
    <span class="badge rounded-pill articleTag"
          style="background-color: {{ post.category.background_colour }}; color: {{ post.category.text_color }};">
      {{ post.category.name }}
    </span>

    <h2 class="postListTitle">
      <a href="{{ post.get_absolute_url }}" class="link-unstyled postLink">{{ post.title }}</a>
    </h2>

    <div class="d-flex align-items-center justify-content-between">
      <small>By {{ post.author.username }}</small>
      <small>{{ post.created|date:"M d, y" }}</small>
    </div>
  </div>
{% endfor %}

{% if page_obj.has_next %}
  <div 
    hx-get="{% url 'blog:post_list' as post_list_url %}{{ post_list_url|add:'/' }}?page={{ page_obj.next_page_number }}"
    hx-trigger="revealed"
    hx-target="this"
    hx-swap="afterend"
    class="infinite-scroll-trigger">
  </div>
{% endif %}
