<h1 id="pageTitle">My Notes</h1>

<!-- Search Bar -->
<div class="my-4">
  <input 
    type="text" 
    name="search" 
    placeholder="Search my notes..." 
    hx-get="{% url 'blog:post_list' %}"
    hx-target="#posts-container" 
    hx-trigger="keyup changed delay:500ms"
    hx-on="htmx:afterRequest: history.replaceState(null, '', '{% url 'blog:post_list' %}');"
    hx-push-url="true"
    class="form-control"
  />
</div>

<!-- Categories -->
<div class="mt-4">
  <h4>Categories</h4>
  <ol class="list-unstyled mb-4 d-flex flex-wrap">
    <li>
      <a 
        hx-get="{% url 'blog:post_list' %}"
        hx-target="#posts-container"
        hx-trigger="click"
        hx-on="htmx:afterRequest: history.replaceState(null, '', '{% url 'blog:post_list' %}');"
        hx-push-url="true"
        class="badge rounded-pill m-1 allPostsCategory">
        All Posts
      </a>
    </li>
    {% for category in categories %}
      <li>
        <a 
          style="background-color: {{ category.background_colour }}; color: {{ category.text_color }}"
          hx-get="{% url 'blog:post_list' %}?category={{ category.slug }}"
          hx-target="#posts-container"
          hx-trigger="click"
          hx-on="htmx:afterRequest: history.replaceState(null, '', '{% url 'blog:post_list' %}');"
          hx-push-url="true"
          class="badge rounded-pill m-1 list-unstyled categoryListBadge">
          {{ category.name }}
        </a>
      </li>
    {% empty %}
      <li>No categories available</li>
    {% endfor %}
  </ol>
</div>
