{% extends 'base.html' %}

{% block content %}
    <div class="container p-4 projectDetailContainer">
                {% if project.feature_image %}
            <div class="projectDetailImageWrapper">
                <img src="{{ project.feature_image.url }}" alt="{{ project.title }}" class="projectDetailImage">
            </div>
        {% endif %}
        <h1 class="projectDetailTitle" style="background-image: linear-gradient(45deg, {{ project.background_colour }}, {{ project.text_color }});">
            {{ project.title }}
        </h1>

                {% if project.project_url %}
            <div class="projectExternalLink">
                <a href="{{ project.project_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Live Project</a>
            </div>
        {% endif %}
        <div class="projectTechnologies">
            <h3>Technologies Used:</h3>
            <ul class="technologyList">
                {% for tech in project.technologies.all %}
                    <li class="technologyBadge badge" style="background-color: {{ tech.background_colour }}; color: {{ tech.text_color }};">
                        {{ tech.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="projectDetailBody">
            {{ project.render_markdown_content|safe }}
        </div>


    </div>
{% endblock %}
