{% extends 'base.html' %}

{% block content %}
    <article>
        <h1>{{ project.title }}</h1>
        {% if project.featured_image %}
            <img src="{{ project.featured_image.url }}" alt="{{ project.title }}">
        {% endif %}
        <div>{{ project.render_markdown_content|safe }}</div>
        <h3>Technologies:</h3>
        <ul>
            {% for tech in project.technologies.all %}
                <li style="background-color: {{ tech.background_colour }}; color: {{ tech.text_color }};">
                    {{ tech.name }}
                </li>
            {% endfor %}
        </ul>
        {% if project.project_url %}
            <a href="{{ project.project_url }}" target="_blank" rel="noopener noreferrer">View Project</a>
        {% endif %}
    </article>
{% endblock %}