{% extends 'base.html' %}
{% load static %}

{% block metaTitle %} - {{ project.title }}{% endblock metaTitle %}
{% block metaDescription %}{{ project.meta_description }}{% endblock metaDescription %}

{% block ogTitle %}{{ project.title }} - A Project by Roo MacArthur{% endblock ogTitle %}
{% block ogDescription %}{{ project.short_description }}{% endblock ogDescription %}
{% block ogType %}article{% endblock ogType %}
{% block ogImage %}{% if project.feature_image %}{{ project.feature_image.url }}{% else %}{{ request.build_absolute_uri }}{% static 'images/portfolio_cover.png' %}{% endif %}{% endblock ogImage %}

{% block twitterTitle %}{{ project.title }} - A Project by Roo MacArthur{% endblock twitterTitle %}
{% block twitterDescription %}{{ project.short_description }}{% endblock twitterDescription %}
{% block twitterImage %}{% if project.feature_image %}{{ project.feature_image.url }}{% else %}{{ request.build_absolute_uri }}{% static 'images/portfolio_cover.png' %}{% endif %}{% endblock twitterImage %}

{% block content %}
    <div class="container p-4 projectDetailContainer">
                {% if project.feature_image %}
            <div class="projectDetailImageWrapper">
                <img src="{{ project.feature_image.url }}" loading="lazy" alt="{{ project.title }}" class="projectDetailImage">
            </div>
        {% endif %}
        <h1 class="projectDetailTitle" style="background-image: linear-gradient(45deg, {{ project.background_colour }}, {{ project.text_color }});">
            {{ project.title }}
        </h1>

            {% if project.project_url or project.repo_url %}
            <div class="projectExternalLink">
                {% if project.project_url %}
                <a href="{{ project.project_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Live Project</a>
                {% endif %}
                {% if project.repo_url %}
                <a href="{{ project.repo_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github Repository</a>
                {% endif %}
            </div>
            {% endif %}
            
        <div class="projectTechnologies">
            <h3>Technologies Used:</h3>
            <ul class="technologyList">
                {% for tech in technologies %}
                    <li class="technologyBadge badge" style="background-color: {{ tech.background_colour }}; color: {{ tech.text_color }};">
                        {{ tech.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="projectDetailBody">
            {{ project.render_markdown_content|safe }}
        </div>


    </div>
{% endblock %}
