<header class="container-fluid sticky-top">
  <nav
    class="container d-flex align-items-center justify-content-between pt-2 pb-2 me-auto"
  >
    <div class="navPersonal">
      <a href="index.html">
        <p class="d-block d-sm-none">RM</p>
        <span class="d-block d-sm-none">FS Dev</span>
        <p class="d-none d-sm-block">Roo MacArthur</p>
        <span class="d-none d-sm-block">Full Stack Developer</span>
      </a>
    </div>
    <div
      class="navLinksContainer d-flex align-items-center justify-content-center"
    >
      <a class="navLinks" href="work.html">Work</a>
      <a class="navLinks" href="notes.html">Notes</a>
    </div>
    <div class="navSocial justify-content-end">
      <div class="d-none d-sm-flex justify-content-center">
        <a href="">Linkedin</a>
        <a href="">Github</a>
      </div>
      <div class="d-flex justify-content-center navSocialContainer">
        <span class="socialAt">@</span>
      </div>
    </div>
  </nav>
</header>
