{% extends 'base.html' %}
{% load static %}
{% block metaTitle %} - Notes{% endblock metaTitle %}
{% block metaDescription %}A collection of insightful notes and articles on various topics.{% endblock metaDescription %}
{% block metaKeywords %}notes, articles, blog, insights, Django, React, Python{% endblock metaKeywords %}

{% block ogTitle %}Roo's Notes - A Developer's Journal{% endblock ogTitle %}
{% block ogDescription %}Read my latest thoughts on Django, React, and software development.{% endblock ogDescription %}
{% block ogType %}website{% endblock ogType %}
{% block ogImage %}{{ request.build_absolute_uri }}{% static 'images/roo_pink_hs.png' %}{% endblock ogImage %}

{% block twitterTitle %}Roo's Notes - A Developer's Journal{% endblock twitterTitle %}
{% block twitterDescription %}Read my latest thoughts on Django, React, and software development.{% endblock twitterDescription %}
{% block twitterImage %}{{ request.build_absolute_uri }}{% static 'images/roo_pink_hs.png' %}{% endblock twitterImage %}

{% block content %}
<div class="row g-4 mt-4">
  <div class="col-md-4">
    <div class="position-sticky" style="top: 80px">
      {% include 'blog/partials/post_list_sidebar.html' %}
    </div>
  </div>
  <div class="col-md-8" id="posts-container">
    {% include 'blog/partials/post_list_partial.html' %}
  </div>
</div>
{% endblock content %}
