{% extends 'base.html' %} 
{% block metaTitle %} - Notes {% endblock metaTitle %}
{% block metaDescription %} {% endblock metaDescription %}
{% block metaKeywords %} {% endblock metaKeywords %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="position-sticky" style="top: 80px">
      {% include 'blog/partials/post_list_sidebar.html' %}
    </div>
  </div>
  <div class="col-md-9" id="posts-container">
    {% include 'blog/partials/post_list_partial.html' %}
  </div>
</div>
{% endblock content %}