{% extends 'base.html' %}
{% block metaTitle %} - {{post.title}}{% endblock metaTitle %}
{% block metaDescription %}{{post.meta_description}}{% endblock metaDescription %}
{% block metaKeywords %}{{post.meta_keywords}}{% endblock metaKeywords %}
{% block content %}
<div class="row g-5">
    <!-- Sidebar -->
    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <!-- Search Bar -->
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">Search</h4>
                <input 
                    type="text" 
                    name="search" 
                    placeholder="Search posts..." 
                    hx-get="{% url 'blog:post_list' %}"
                    hx-target="#related-posts-container"
                    hx-trigger="keyup changed delay:500ms"
                    hx-push-url="true"
                    class="form-control"
                />
            </div>

            <!-- Related Posts -->
            <div class="p-4">
                <h4 class="fst-italic">Related Posts</h4>
                <ul class="list-unstyled">
                    {% for related_post in related_posts %}
                    <li>
                        <a href="{{ related_post.get_absolute_url }}" class="link-body-emphasis">
                            {{ related_post.title }}<br>
                            <small class="text-body-secondary">{{ related_post.created|date:"M d, Y" }}</small>
                        </a>
                    </li>
                    {% empty %}
                    <li>No related posts available</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Share Links -->
            <div class="p-4">
                <h4 class="fst-italic">Share This Post</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                           target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}"
                           target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}"
                           target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            {{ post.title }}
        </h3>

        <article class="blog-post">
            <p class="blog-post-meta">
                {{ post.created|date:"F d, Y" }} by <a href="#">{{ post.author }}</a>
            </p>

            {{ post.content|safe }}
        </article>

        <!-- Pagination to Next/Previous Posts -->
        <nav class="blog-pagination mt-4" aria-label="Pagination">
            {% if post.get_previous %}
            <a class="btn btn-outline-primary rounded-pill" href="{{ post.get_previous.get_absolute_url }}">
                ← {{ post.get_previous.title }}
            </a>
            {% endif %}
            {% if post.get_next %}
            <a class="btn btn-outline-primary rounded-pill float-end" href="{{ post.get_next.get_absolute_url }}">
                {{ post.get_next.title }} →
            </a>
            {% endif %}
        </nav>
    </div>
</div>




{% endblock content %}